# Logs
# Dependencias
node_modules/
jspm_packages/

# Registro de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Entorno local (¡Nunca subas tus contraseñas o llaves!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Carpetas de construcción / compilación
dist/
build/
.next/
.nuxt/

# Caché de herramientas
.eslintcache
.parcel-cache
.turbo/



logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
